body {
    background-color: white;
}

header {
    background-image: url("zuidskyline.jpg");
    height: 400px;
    background-position: 0%;
    background-repeat: no-repeat;
    margin: 0.5em;
    margin-bottom: 1em;
    border-bottom: 7px lightgrey solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.titel {
    margin-bottom: 2em;
}

.divdoos {
    background-color: lightgrey;
    background-clip: content-box;
    padding: 0.3em;
    
}

.img1 {
    width: 100%;
}
.doos {
   align-self: auto;
}

p {
    padding: 2px;
}

h3 {
    padding: 1px;
}
