@import url('https://fonts.googleapis.com/css?family=Dosis');

#bootstrap-override {
    background-color: white;
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}

header {
    background-image: url("skyline1.jpg");
    height: 400px;
    background-position: 0%;
    background-repeat: no-repeat;
    margin: 0.3em;
    margin-bottom: 1em;
}

.titel {
    margin-bottom: 2em;
}

.divdoos {

    background-clip: content-box;
    padding: 0.3em;
    
}

.img1 {
    width: 100%;
    margin-top: 4em;
}
.doos {
   align-self: auto;
}

.footer {
    display: block;
    margin: 3.5em 0.5em 0.5em 0.5em;
    background-color: rgb(184, 171, 206);
    padding: 0.25em;
    font-size: 10px;
    
}

.footerright {
    float: right;
}

#bootstrap-override .container {
    max-width: 1450px;
} 
