@import url('https://fonts.googleapis.com/css?family=Asap');
* {
    font-family: 'Asap', sans-serif;
}
body {
    background-image: url(https://www.ictacademie.info/milangupta/images/valley2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightblue;
}
.navigatie {
        font-size: 22px;
        color: white;
        padding: 20px;  
        display: block;
        background-color: rgb(58, 115, 148);
        float: left;
        margin: 0px 0px;
        border: 1px solid rgb(33, 134, 165);
        text-decoration: none;
}
.afspraakmaken {
    padding: 15px;   
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 7px 7px 7px 7px;
    float: left;
    margin: 200px -80px;
    width: 33%;
}
input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 7px 7px 7px 7px;
}
#afspraakkop {
    text-align: center;
}
table {
    width: 45%;
    margin: 200px 20px;
    font-size: 22px;
    float: right; 
    border: 1px solid black;
    background-color: lightblue;
}
td {
    border: 1px solid black;
}
th {
    background-color: rgb(135, 135, 223);
    color: white; 
}
.contactdiv {
    padding: 15px;   
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 7px 7px 7px 7px;
    float: left;
    margin: 200px 0px;
    width: 30%;
}
#email {
    width: 60%;
}
textarea {
    border-radius: 7px 7px 7px 7px;
    border: 1px solid black;
}
h1 {
    font-size: 22px;
}
.invoerinputtext {
    width: 25%;
}
.invoertijddatum{
    width: 10%;
}
#deleterow {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    background-color: rgb(58, 115, 148);
}